.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  background: #3c3896;
  border-radius: 27px;
  color: #fff !important;
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: auto;
}
.link_404 :hover {
  box-shadow: -3px 18px 20px 0px rgba(99, 89, 99, 1);
}
.contant_box_404 {
  margin-top: -50px;
  text-align: center;
  font-size: large;
  font-family: cursive;
}
